@import "./variables";
@import "./mixins";
@import "./animations";
@import "./first-page";
@import "./second-page";
@import "./team-page";
@import "./third-page";
@import "./glitch";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Nunito:wght@700&family=PT+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;

    overflow-x: hidden;
    background: black;
}

p {
    font-family: 'PT Sans', sans-serif;
}
